<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7152219959074781"
     crossorigin="anonymous"></script>
    <title>{{ .Title }}</title>
    {{ if .IsHome }}
    <meta name="description" content="{{ .Site.Params.description }}"> {{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" href="/icon.png">
    <meta name="theme-color" content="#fafafa"> {{ template "_internal/opengraph.html" . }} {{ template "_internal/schema.html" . }}

    <link rel="stylesheet" href="{{ "style.css" | relURL }}">
    <link rel="stylesheet" href="{{ "highlight.css" | relURL }}">

    {{ range .AlternativeOutputFormats -}} {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}}
</head>

<body class="main">
    {{ partial "nav.html" . }}
    <main>